.a {
  height: 90vh;
  display: flex;
  align-items: center;
}

.a-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  height: 100%;
}

.a-right {
  flex: 1;
}

.a-card.bg {
  position: absolute;
  top: 290px;
  left: 80px;
  background-color: #d6fcfe;
}

.a-card {
  width: 60%;
  height: 45vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.a-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.a-title {
  font-size: 3.5rem;
  font-weight: 600;
}

.a-sub {
  font-size: 1.5rem;
  margin: 20px 0px;
}

.a-desc {
  font-weight: 300;
  font-size: 25px;
}

@media screen and (max-width: 480px) {
  .a {
    flex-direction: column;
    text-align: center;
  }
  .a-left {
    display: none;
  }

  .a-right {
    padding: 30px;
    text-align: justify;
    margin-top: 200px;
    margin-bottom: 200px;
  }

  .a-title {
    font-size: 2.8rem;
  }

  .a-sub {
    font-size: 1rem;
  }

  .a-desc {
    font-size: 17px;
  }
}
