.p {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.p-browser {
  height: 20px;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
}

.p-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: white;
}

.p-red {
  background-color: red;
}
.p-yell {
  background-color: #fbbc2e;
}
.p-green {
  background-color: #36c83f;
}

.p-head {
  margin-top: 20px;
}

.p-para {
  margin-top: 20px;
  padding: 25px;
}

@media screen and (max-width: 480px) {
  .p {
    width: 40%;
    height: 20vh;
  }
  .p-head {
    padding: 17px;
    font-size: 14px;
    word-wrap: normal;
    text-align: center;
  }
  .p-para {
    display: none;
  }
}
